input(type="text", data-ng-model="filterText", placeholder="Filter your list here")
div(ng-repeat="post in posts | filter:filterText", class="well")
    div
      p
        strong Title:
      p {{post.title}}
    div
      p
        strong Body:
      p {{post.body}}

