.row
    .col-md-3
        input.form-control(type="text", data-ng-model="filterText", placeholder="Filter your list here")
    .col-md-offset-9
.row(style='padding-top:50px;')
    div.col-md-4(ng-repeat="project in projects | filter:filterText")
        a.thumbnail(href='#')
            img(src='http://placehold.it/300x300&text={{project.name}}', alt='{{project.name}}')

