.row
    .col-md-4
        .input-group
            input.form-control(type="text", data-ng-model="filter.name", placeholder="Filter your list here")
            .input-group-btn
                button(class="btn btn-default dropdown-toggle", data-toggle="dropdown", type="button") Category
                    span(class="caret")
                ul(class="dropdown-menu pull-right")
                    li(ng-repeat="category in categories")
                        a(data-ng-model="filter.projectType.name") {{category}}
.row(style='padding-top:50px;')
    div.col-xs-12.col-sm-6.col-md-6.col-lg-4(ng-repeat="project in projects | filter:filter")
        a.thumbnail(href='#', style="color:#000;")
          | {{project.name}}

