node_modules
**/*.pyc
tpc_flask/static/js/vendor
**/.sass-cache
.idea
.cache
.tox
**/*.egg-info
.coverage
tpc_flask/static/css/*.map
tpc_flask/static/css/*.min.css
**/__pycache__/
tpc_flask/static/js/deploy/
