.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
        .navbar-header
            button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
                span.sr-only Toggle navigation
                span.icon-bar
                span.icon-bar
                span.icon-bar
            a.navbar-brand(href='/',title="Home")
                img(id="navbarLogo",src="../images/thepowercoder-whitebackground-small-trans.png", alt="The Power Coder")
        .navbar-collapse.collapse
            ul.nav.navbar-nav.navbar-right
                li(title="Blog")
                    a.bolder(href='/blog')
                        span BLOG
                li(title="Portfolio")
                    a.bolder(href='#')
                        span PORTFOLIO
                li(title="About Me")
                    a.bolder(href='#')
                        span ABOUT
                li(title="Contact Me")
                    a.bolder(href='#')
                        span CONTACT