doctype html
html(data-ng-app="TPCv4")
    head
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title= title
        link(type="text/css", rel="stylesheet", href="/stylesheets/index.css")
        link(type="text/css", rel="stylesheet", href="/javascripts/vendor/google-code-prettify/src/prettify.css")
        script(type="text/javascript", src='/javascripts/vendor/bootstrap/docs-assets/js/holder.js')
        script(type="text/javascript", src="/javascripts/vendor/jquery/jquery.min.js")
        script(type="text/javascript", src="/javascripts/vendor/royalslider/jquery.royalslider.min.js")
        script(type="text/javascript", src="/javascripts/deploy/indexBuilt.min.js")
        script(type="text/javascript", src="/javascripts/vendor/google-code-prettify/src/prettify.js")
    body(onload="prettyPrint()")
        include header
        section(id="indexIntro").blueText
            .container
                .row(style="padding:175px 0 50px 0;")
                    .scrollblock
                        p(id="fullStackHeader", style="font-size:32pt;") Full Stack Web Developer
                    .scrollblock
                        p.blackText(id="welcomeHeader", style="font-size:24pt;") Welcome! Check out my
                            a(href="#")
                                span.blueText  work
                            |  below!
            .container
                .row
                    .scrollblock
                        p(id="testCentricHeader", style="font-size: 24pt") Test-Centric Development
                    .col-xs-12.col-sm-12.col-md-4.text-left(id="testCentricCode1")
                        pre.prettyprint.linenums
                            code
                                |//Test Will Fail - Written Before Implementation
                                |private static final String EMAIL_PATTERN = "^[_A-Za-z0-9-\\+]+(\\.[_A-Za-z0-9-]+)*@[A-Za-z0-9-]+(\\.[A-Za-z0-9]+)*(\\.[A-Za-z]{2,})$";
                                |@Test
                                |public void checkEmailFormat(){
                                |       assertThat(new User("email@domain.com").getEmail().matches(EMAIL_PATTERN), true);
                                |   }
                                |}
                    .col-xs-12.col-sm-12.col-md-4.text-left(id="testCentricCode2")
                        pre.prettyprint.linenums
                            code.text-nowrap.language-java
                                |//Implementing Tested Code
                                |public class User{
                                |   private String email;
                                |   public void setEmail(String email){
                                |       this.email = email;
                                |   }
                                |   public String getEmail(){
                                |       return this.email;
                                |   }
                                |   public User(){
                                |       this.email = "foo@bar.com";
                                |   }
                                |   public User(String email{
                                |       this.email = email;
                                |   }
                                |}
                    .col-xs-12.col-sm-12.col-md-4.text-left(id="testCentricCode3")
                        pre(style="height: 200px;")
                            p.text-center(style="color:#990000;") RED
                            p.text-center(style="color: #339933;") GREEN
                            p.text-center TESTING!
        section.blueBackgroundTextured.whiteText(id="indexDescription")
            .container
                .row
                    .scrollblock
                        p.whiteText(id="nTierDevelopmentHeader", style="font-size:24pt;") N-Tier Development
                .row( style="padding: 85px 0 0 0;")
                    p(id="softwareBlackSmith",style="text-align:center;font-size:32pt;") Software Blacksmith
                    p(style="text-align:center;font-size:32pt;") Unit Test Craftsman
                        span(class="blackText") *
                .row
                    .container
                        p(style="text-align: center;font-size:14pt;", class="whiteBorderTopBottom paddingTopBottom30")
                            span(class="blackText") *
                            |Things like Web Apps, Mobile Apps and Automated Testing Suites.
                        p(style="text-align: center; font-size: 11pt") From websites for small businesses to developer tools for super-geeks,
                        p(style="text-align: center; font-size: 11pt") I build applications and websites with the toolset that
                        p(style="text-align: center; font-size: 11pt") will do the job the best (though I am partial to open source).
        section(id="indexSliderBody")
            div(id="homeSlideShowWrapper")
                div.container(id="homeSlideShow")
                    .row
                        .slideShowWrapper.rsCCR
                            .royalSlider
                                .rsContent
                                    .slideInfo.rsABlock(data-move-effect="top", data-move-offset="250", data-delay="500")
                                        h1 Recent Project
                                        h2(data-move-effect="top") SRNG Consultants
                                        h3(data-move-effect="top") Small Business Website
                                        p(data-move-effect="top") SRNG Consultants is a realty company that specializes in
                                        p real estate and property management in the Bahamas.
                                        p
                                            a(href="http://www.srngconsultants.com",target="_blank") View Website
                                    .slideImages
                                        img.rsABlock.back-image(src="/images/SRNG-slider-desktop.jpg", alt="SRNG Consultants Desktop",data-move-effect="right", data-move-offset="1000" , data-delay="0")
                                        img.rsABlock.front-image(src="/images/SRNG-slider-image-front.png", alt="SRNG Consultants Mobile",data-move-effect="right",data-easing="easeOutBack", data-move-offset="1000", data-delay="125")
                                .rsContent
                                    .slideInfo.rsABlock(data-move-effect="top", data-move-offset="250", data-delay="500")
                                        h1 Previous Website
                                        h2(data-move-effect="top") The Power Coder - Version 3
                                        h3(data-move-effect="top") Blog/Portfolio
                                        p(data-move-effect="top") This is a previous version of my website built using the WISA stack.
                                        p ASP.NET MVC 3, Entity Framework, Ninject and had an integrated blogging engine.
                                        p This was based off of a blog post that
                                            a(href="http://www.prideparrot.com/blog/archive/2012/12/how_to_create_a_simple_blog_part1", target="_blank")  Vijaya Anand wrote.
                                        p
                                            a(href="http://www.github.com/silne30/TPCv3",target="_blank")  View Github Repo
                                    .slideImages
                                        img.rsABlock.back-image(src="/images/TPC-slider-desktop.jpg", alt="The Power Coder Previous Version Desktop",data-move-effect="right", data-move-offset="1000" , data-delay="0")
                                        img.rsABlock.front-image(src="/images/TPC-slider-image-front.png", alt="TPC Power Coder Previous Version Mobile",data-move-effect="right",data-easing="easeOutBack", data-move-offset="1000", data-delay="125")
                            .container.slider-controls
            .container
                .row(style='padding-top:100px;',data-ng-view)
                .row( style="padding-top: 175px;z-index:10;")
                    .col-md-8.col-md-offset-2.boxShadow.col-sm-12
                        img.img-responsive(src="images/pc_business_card.png",alt='Business Card')
                include footer