doctype 5
html(data-ng-app="TPCv4")
  head
    title= title
    link(rel="stylesheet", href="/stylesheets/style.css")
    script(type="text/javascript", src="/javascripts/vendor/angular/angular.min.js")
    script(type="text/javascript", src="/javascripts/common.js")
  body
    block content