
//Marketing messaging and featurettes
// Wrap the rest of the page in another container to center all the content.
.container
    // Three columns of text below the carousel
    .row
        .col-lg-4
            img.img-circle(data-src='holder.js/140x140', alt='Generic placeholder image')
            h2 Heading
            p
                | Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo cursus magna.
            p
                a.btn.btn-default(href='#', role='button') View details »
        // /.col-lg-4
        .col-lg-4
            img.img-circle(data-src='holder.js/140x140', alt='Generic placeholder image')
            h2 Heading
            p
                | Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh.
            p
                a.btn.btn-default(href='#', role='button') View details »
        // /.col-lg-4
        .col-lg-4
            .panel.panel-default
                form.navbar-form
                    .form-group
                        .input-group
                            input.form-control(type='text', placeholder='Search Blog & Portfolio')
                            .input-group-btn
                                button.btn.btn-primary(type='submit') Submit
            .panel.panel-primary
                .panel-heading Categories
                ul.list-group
                    li.list-group-item Something #1
                    li.list-group-item Something #2
            .panel.panel-default
                ul.nav.nav-tabs(id='myTabs', data-tabs="tabs")
                    li.active(data-toggle='tab',id='popularPostsTab')
                        a(href='#popularPosts') Popular Posts
                    li(data-toggle='tab', id='tagsListTab')
                        a(href='#tagsList') Tags
                .tab-content
                    .tab-pane.fade.in.active(id='popularPosts')
                        ul
                            li Popular Something 1
                            li Popular Something 2
                    .tab-pane.fade(id='tagsList')
                        ul
                            li Tag Something 1
                            li Tag Something 2
        // /.col-lg-4
    // /.rows



