@import url('http://fonts.googleapis.com/css?family=Michroma');
@import url('http://fonts.googleapis.com/css?family=Paytone+One');
@import '/javascripts/vendor/royalslider/royalslider.css';
@import '/javascripts/vendor/royalslider/skins/tpc/tpc.css';
@import '/javascripts/vendor/bootstrap/dist/css/bootstrap.css';

.blueText{
  color: #3FC8FF !important;
}
.blueBackgroundTextured{
  background: url("../images/blueBackground.png") repeat transparent;
}
.blackText{
  color: #000000 !important;
}
.whiteText{
  color: #FFFFFF !important;
}

.paddingTopBottom30{
  padding-top: 30px;
  padding-bottom: 30px;
}

div.navbar , li, a , #navbarLogo{
  transition: all .3s;
  -moz-transition: all .3s; /* Firefox 4 */
  -webkit-transition: all .3s; /* Safari and Chrome */
  -o-transition: all .3s; /* Opera */
}

@media (min-width: 768px) {
  .navbar-nav > li > a.small {
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.boxShadow{
  position: relative;
  padding: 25px;
  margin: 0 auto;
  background-color: #fff;
  -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2), inset 0 0 50px rgba(0, 0, 0, 0.1);
}

.boxShadow:before, .boxShadow:after{
  position: absolute;
  width: 40%;
  height: 10px;
  content: ' ';
  left: 12px;
  bottom: 12px;
  background: transparent;
  -webkit-transform: skew(-5deg) rotate(-5deg);
  -moz-transform: skew(-5deg) rotate(-5deg);
  -ms-transform: skew(-5deg) rotate(-5deg);
  -o-transform: skew(-5deg) rotate(-5deg);
  transform: skew(-5deg) rotate(-5deg);
  -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
  z-index: -1;
}

.boxShadow:after{
  left: auto;
  right: 12px;
  -webkit-transform: skew(5deg) rotate(5deg);
  -moz-transform: skew(5deg) rotate(5deg);
  -ms-transform: skew(5deg) rotate(5deg);
  -o-transform: skew(5deg) rotate(5deg);
  transform: skew(5deg) rotate(5deg);
}

.top-padding150{
  padding-top: 150px;
}

.bolder{
  font-weight: bolder;
}

a {
  color: #ffffff;
}
.navbar-default .navbar-nav > li > a:hover > span,
.navbar-default .navbar-nav > li > a:focus > span{
  border-bottom: 2px solid #3FC8FF;
}
