@import 'common';
#homeSlideShowWrapper{
  background: url("../images/diagmonds_@2X.png") repeat transparent;
  min-height: 650px;
  width: 100%;
  min-width: 100%;
}
#homeSlideShow .royalSlider .rsContent .slideInfo{
  position: relative;
  width: 50%;
  padding-top: 40px;
}
#homeSlideShow .royalSlider .rsContent .slideImages {
  position: absolute;
  right: -50px;
  bottom: 0;
  width: 50%;
  height: 100%;
  padding: 0;
}
#homeSlideShow .royalSlider .rsContent .slideImages .front-image {
  position: absolute;
  width: 250px;
  right: 223px;
  margin-right: 180px;
  bottom: 0;
  top: auto;
  left: auto;
  z-index: 200;
}
#homeSlideShow .royalSlider .rsContent .slideImages .back-image {
  position: absolute;
  width: 480px;
  height: 600px;
  right: 50px;
  bottom: 0;
  top: auto;
  left: auto;
  z-index: 100;
}
.rsCCR .slider-controls {
  position: relative;
  top: -125px;
  left: 15px;
}
.rsSlide{
  background: url("../images/diagmonds_@2X.png") repeat transparent;
}
.blueBorderTopBottom
{
  border-top: 2px solid #3FC8FF;
  border-bottom: 2px solid #3FC8FF;
}
.whiteBorderTopBottom
{
  border-top: 2px solid #FFFFFF;
  border-bottom: 2px solid #FFFFFF;
}
.whiteBorderTopBottom
{
  border-top: 2px solid #000000;
  border-bottom: 2px solid #000000;
}
#indexIntro{
  background-color: #FFFFFF;
}
